.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyright:after {
  content: "•";
  margin: 0 0.25rem;
  display: inline-block;
}

.link:hover {
  color: inherit;
}
