@use "variables";
@use "mixins";

.wrapper {
  margin-top: 5rem;
  background-color: variables.$color-secondary;
}

.container {
  display: flex;
  padding: 0 0 3rem;
  text-align: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include mixins.min-width(md) {
    padding: 6rem 0;
  }
}

.background {
  top: -1.5rem;
  margin: 0 0 1rem;
  position: relative;
  width: calc(12.5rem + 5vw);

  @include mixins.min-width(md) {
    right: 0;
    margin: 0;
    width: 17.5rem;
    position: absolute;
  }
}

.contact {
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
}

.acknowledgement {
  margin: 0 0 2rem;
}
