@use "mixins";
@use "variables";

$duration: 0.5s;
$delay: 0.25;

.wrapper {
  transition-property: all;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  @include mixins.min-width(md) {
    cursor: url(./contact/close.png), auto;
  }
}

.wrapper.exiting,
.wrapper.exited {
  transform: translateX(-100%);
  transition-delay: $delay * $duration;

  @include mixins.min-width(md) {
    .container {
      transition-delay: 0s;
      pointer-events: none;
      transform: translateX(-100%);
    }
  }
}

.wrapper.entering,
.wrapper.entered {
  transform: translateX(0);

  @include mixins.min-width(md) {
    .container {
      transform: translateX(0);
    }
  }
}

.scroller {
  height: auto;
  display: block;
}

.container {
  $min: 10rem;
  $max: 15%;

  padding: 0;

  @include mixins.min-width(md) {
    cursor: default;
    margin-left: max(#{$min}, #{$max});
    width: calc(100vw - max(#{$min}, #{$max}));

    transition-property: all;
    transition-duration: $duration;
    transition-delay: $delay * $duration;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.content {
  margin: 0;
  display: flex;
  max-width: none;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.close {
  position: fixed;
}

.holder {
  padding: 5rem 0;
}

.top {
  width: 30rem;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.contact {
  margin: 4rem 0 2rem;
}

.request {
  margin: 2.5rem 0 5rem;
}

.body {
  margin: 0 0 3rem;
}

.map {
  width: 50rem;
  display: block;
  max-width: 100%;
  margin: 5rem auto;
}

.bottom {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(1, 1fr);

  @include mixins.min-width(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.direction {
  display: block;
}
