@use "variables";
@use "mixins";

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  padding-top: variables.$navbar-height-sm;
  min-height: calc(100vh - variables.$navbar-height-sm);

  @include mixins.min-width(md) {
    padding-top: variables.$navbar-height-md;
    min-height: calc(100vh - variables.$navbar-height-md);
  }
}

.dark {
  background-color: variables.$color-black;
}

.light {
  background-color: variables.$color-white;
}

.overflow {
  overflow: hidden;
}

.main {
  flex: 1;
}
