@use "mixins";
@use "variables";

$duration: 0.5s;
$delay: 0.25;

.wrapper {
  transition-property: all;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper.exiting,
.wrapper.exited {
  opacity: 0;
  pointer-events: none;
  transition-delay: $delay * $duration;

  .container {
    transition-delay: 0s;
    transform: translateY(-100%);
  }
}

.wrapper.exited {
  visibility: hidden;
}

.wrapper.preEnter,
.wrapper.entering,
.wrapper.entered {
  opacity: 1;

  .container {
    transform: translateY(0);
  }
}

.container {
  transition-property: all;
  transition-duration: $duration;
  transition-delay: $delay * $duration;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  @include mixins.max-width(md) {
    padding: 0;
    height: 100%;
  }
}

.content {
  @include mixins.max-width(md) {
    margin: 0;
    min-height: 100%;
  }
}

.svg {
  height: 4rem;
  margin: 0 auto;
  color: variables.$color-primary;
}

.header {
  gap: 2rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: column;
}

.body {
  gap: 2rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;

  @include mixins.min-width(md) {
    flex-direction: row;
    padding: 0 1rem 3rem;
  }
}

.image {
  @include mixins.min-width(md) {
    order: 1;
  }
}

.content {
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: variables.$color-primary;
    font-size: map-get(variables.$font-sizes, s5);
    font-weight: map-get(variables.$font-weights, w4);
    font-family: map-get(variables.$font-families, f1);
  }

  @include mixins.min-width(md) {
    order: 2;
  }
}

.text {
  max-width: 75%;
  margin: 0 auto;
}
