@use "variables";
@use "mixins";

.section {
  margin: 0 0 6rem;
}

.arrow {
  width: 8rem;
  height: 8rem;
  display: block;
  margin: 0 auto 2rem;
  transform: rotate(90deg) translateX(-50%);
}

.title {
  margin: 0 0 5rem;
}

.row {
  gap: 3rem;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;

  @include mixins.min-width(lg) {
    flex-direction: row;
  }
}

.field {
  flex: 1;
}

.expandable {
  margin: 3rem 0 0;
}

.expandable .rows {
  display: none;
}

.open .rows {
  display: block;
}

.section .button {
  all: unset;

  display: block;
  cursor: pointer;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid transparent;
  transition: border variables.$transition-time variables.$transition-ease;
}

.section .button:hover {
  border-bottom-color: variables.$color-black;
}

.section .button:focus {
  outline: none;
}

.section .button:before {
  content: "+";
  margin-right: 0.25rem;
  display: inline-block;
}

.open .button:before {
  content: "-";
}

.back,
.retry {
  margin: 3rem 0 0;
}

.remark {
  @include mixins.invisible();
}

.message {
  @include mixins.scroll-margin();
}
