<style>
  table.body h1 {
    font-size: 24px !important;
    margin-bottom: 25px !important;
  }
  table.body .btn {
    margin-top: 25px !important;
  }

  @media only screen and (max-width: 620px) {
    table.body p,
    table.body ul,
    table.body ol,
    table.body td,
    table.body span,
    table.body a {
      font-size: 16px !important;
    }

    table.body .wrapper,
    table.body .article {
      padding: 10px !important;
    }

    table.body .content {
      padding: 0 !important;
    }

    table.body .container {
      padding: 0 !important;
      width: 100% !important;
    }

    table.body .main {
      border-left-width: 0 !important;
      border-radius: 0 !important;
      border-right-width: 0 !important;
    }

    table.body .btn table {
      width: 100% !important;
    }

    table.body .btn a {
      width: 100% !important;
    }

    table.body .img-responsive {
      height: auto !important;
      max-width: 100% !important;
      width: auto !important;
    }
  }
  @media all {
    .ExternalClass {
      width: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }

    .apple-link a {
      color: inherit !important;
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      text-decoration: none !important;
    }

    #MessageViewBody a {
      color: inherit;
      text-decoration: none;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    .btn-primary table td:hover {
      background-color: #82c17a !important;
    }

    .btn-primary a:hover {
      background-color: #82c17a !important;
      border-color: #82c17a !important;
    }
  }
  @media print {
    .btn {
      display: none !important;
    }
  }
</style>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
  <tr>
    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
    <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;" width="580" valign="top">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">

        {{!-- START CENTERED CONTAINER --}}
        <table role="presentation" class="main" style="border-collapse: collapse; border: 1px solid #e6e6e7; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-radius: 3px; width: 100%;" width="100%">

          {{!-- START MAIN CONTENT AREA --}}
          <tr>
            <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                    <h1 style="font-family: sans-serif; font-size: 24px; font-weight: bold; margin: 0; margin-bottom: 25px;">
                      Neue Gästeanfrage
                    </h1>
                  </td>
                </tr>
                {{!-- FIELDS START --}}
                <tr>
                  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                    {{#if data.arrival}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Gewünschte Ankunft:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.arrival}}</span>
                    </div>
                    {{/if}}

                    {{#if data.departure}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Gewünschte Abreise:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.departure}}</span>
                    </div>
                    {{/if}}

                    {{#if data.room_type}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Zimmertyp:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.room_type}}</span>
                    </div>
                    {{/if}}

                    {{#if data.adults}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Anzahl Erwachsene:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.adults}}</span>
                    </div>
                    {{/if}}

                    {{#if data.children}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Anzahl Kinder:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.children}}</span>
                    </div>
                    {{/if}}

                    {{#if data.children_age}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Alter Kinder:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.children_age}}</span>
                    </div>
                    {{/if}}

                    {{#if data.title}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Anrede:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.title}}</span>
                    </div>
                    {{/if}}

                    {{#if data.forename}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Vorname:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.forename}}</span>
                    </div>
                    {{/if}}

                    {{#if data.surname}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Nachname:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.surname}}</span>
                    </div>
                    {{/if}}

                    {{#if data.email}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Email:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.email}}</span>
                    </div>
                    {{/if}}

                    {{#if data.street}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Straße:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.street}}</span>
                    </div>
                    {{/if}}

                    {{#if data.zip}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>PLZ:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.zip}}</span>
                    </div>
                    {{/if}}

                    {{#if data.city}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Ort:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.city}}</span>
                    </div>
                    {{/if}}

                    {{#if data.country}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Land:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.country}}</span>
                    </div>
                    {{/if}}

                    {{#if data.phone}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Telefon:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.phone}}</span>
                    </div>
                    {{/if}}

                    {{#if data.message}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Nachricht:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.message}}</span>
                    </div>
                    {{/if}}

                    {{#if data.offer}}
                    <div>
                      <span style="font-family: sans-serif; font-size: 14px; padding-right: 5px;"><strong>Angebot:</strong></span>
                      <span style="font-family: sans-serif; font-size: 14px;">{{data.offer}}</span>
                    </div>
                    {{/if}}
                  </td>
                </tr>
                {{!-- FIELDS END --}}
                <tr>
                  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; box-sizing: border-box; width: 100%; margin: 0; margin-top: 25px;" width="100%">
                      <tbody>
                      <tr>
                        <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                          <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                            <tbody>
                            <tr>
                              <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 5px; text-align: center; background-color: #3498db;" valign="top" align="center" bgcolor="#3498db">
                                <a href="mailto:{{data.email}}" style="border: solid 1px #82c17a; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #82c17a; border-color: #82c17a; color: #ffffff;">
                                  Gast antworten
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          {{!-- END MAIN CONTENT AREA --}}
        </table>
        {{!-- END CENTERED WHITE CONTAINER --}}

        {{!-- START FOOTER --}}
        <div class="footer" style="clear: both; margin-top: 10px; text-align: center; width: 100%;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
            <tr>
              <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;" valign="top" align="center">
                <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Gasteigerhof | Gasteig 42 | 6167 Neustift</span>
                <br>
                <a href="https://www.gasteigerhof.at" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">
                  https://www.gasteigerhof.at
                </a>
              </td>
            </tr>
          </table>
        </div>
        {{!-- END FOOTER --}}

      </div>
    </td>
    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
  </tr>
</table>
