@use "variables";
@use "mixins";

.items {
  --item-width: 17.5rem;

  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));

  @include mixins.min-width(xs) {
    --item-width: 20rem;
  }

  @include mixins.min-width(sm) {
    --item-width: 22.5rem;
  }

  @include mixins.min-width(md) {
    --item-width: 25rem;
  }
}

.item {
  display: block;
}

.link {
  all: unset;

  display: block;
  cursor: pointer;
}

.link:hover {
  color: inherit;
  text-decoration: none;

  .image {
    filter: contrast(1.1);
  }
}

.link .holder {
  position: relative;
  display: inline-block;
}

.link .icon {
  top: -2rem;
  left: 50%;
  width: 4rem;
  position: absolute;
  transform: translate(-50%, 0);

  @include mixins.min-width(xs) {
    left: auto;
    right: -2rem;
    transform: rotate(20deg);
  }
}

.link .image {
  filter: contrast(1);
  transition: all variables.$transition-time variables.$transition-ease;
}

.link .body {
  padding: 0 1rem;
}

.link .title {
  margin: 1rem 0;
}

.more {
  display: block;
  padding: 1rem 0 0;
}

.nav {
  gap: 3rem;
  display: flex;
  margin: 5rem 0 0;
  justify-content: center;
}
