@use "mixins";

.initial {
  @include mixins.container();
}

.from-xs {
  @include mixins.container($min: xs);
}

.to-xs {
  @include mixins.container($min: null, $max: xs);
}

.from-sm {
  @include mixins.container($min: sm);
}

.to-sm {
  @include mixins.container($min: null, $max: sm);
}

.from-md {
  @include mixins.container($min: md);
}

.to-md {
  @include mixins.container($min: null, $max: md);
}

.from-lg {
  @include mixins.container($min: lg);
}

.to-lg {
  @include mixins.container($min: null, $max: lg);
}
