@use 'variables';
@use 'mixins';

.wrapper {}

.sm {
  padding: calc(1rem + 1vw) 0;
}

.md {
  padding: calc(2rem + 2vw) 0;
}

.lg {
  padding: calc(3rem + 3vw) 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.content-visibility {
  content-visibility: auto;
  contain-intrinsic-size: 30rem;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.is-full-height {
  min-height: 100vh;
  box-sizing: border-box;
}

.transparent {
  color: inherit;
  background-color: transparent;
}

.black {
  color: variables.$color-white;
  background-color: variables.$color-black;
}

.white {
  color: variables.$color-black;
  background-color: variables.$color-white;
}

.primary {
  color: variables.$color-white;
  background-color: variables.$color-primary;
}

.secondary {
  background-color: variables.$color-secondary;
}

.gradient {
  @include mixins.horizontal-gradient-bg();
  
  color: variables.$color-black;
}

