@use "variables";

.wrapper {
  position: relative;
}

.label {
  top: 0;
  left: 0;
  display: block;
  user-select: none;
  position: absolute;
  pointer-events: none;

  transform-origin: left top;
  transform: translateY(25%);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label .text {
  display: inline-block;
}

.required .label:after {
  content: "*";
  display: inline-block;
}

.error.touched .label:after,
.error.submitted .label:after {
  color: variables.$color-error;
}

.input {
  display: block;
}

.input::placeholder {
  opacity: 0;
}

textarea + .label {
  left: 0.75rem;
  transform: translateY(50%);
}

.wrapper:focus-within .label,
.input:not([data-value=""]) + .label {
  transform: translateY(-100%) scale(0.75);
}

.message {
  left: 0;
  bottom: 0;
  visibility: hidden;
  position: absolute;
  padding-top: 0.25rem;
  transform: translateY(100%);
}

.error .message {
  color: variables.$color-error;
}

.error.touched .message,
.error.submitted .message {
  visibility: visible;
}
