@use "mixins";

.button {
  margin: 2rem 0 0 0.5rem;
}

.image {
  position: relative;
}

.icon {
  top: 0;
  left: 50%;
  width: 6rem;
  position: absolute;
  transform: rotate(15deg) translate(-50%, -50%);

  @include mixins.min-width(md) {
    left: 0;
    transform: translate(-50%, -50%);
  }
}
