@use "mixins";

.container {
  position: relative;
}

.main .title {
  z-index: 1;
  width: 50rem;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.main .image {
  z-index: 0;
  position: relative;
  margin: -3rem 0 2rem;
}

.main .text {
  width: 25rem;
  max-width: 100%;
  margin: 0 auto 2rem;
}

.banner {
  display: flex;
  max-width: 25rem;
  margin: 0 auto 5rem;
  align-items: center;
  flex-direction: column;

  @include mixins.min-width(md) {
    top: 50%;
    left: 50%;
    margin: 0;
    z-index: 1;
    margin: 0 0 0 7.5rem;
    position: absolute;
    flex-direction: row;
    transform: translate(0, -50%);
  }
}

.banner .icon {
  width: 5rem;
  transform: translate(-1rem, 2rem) rotate(50deg);

  @include mixins.min-width(md) {
    order: 1;
    width: auto;
    width: 10rem;
    transform: translate(2rem, 1rem) rotate(220deg);
  }
}

.banner .text {
  width: 17.5rem;
  transform: rotate(5deg);

  @include mixins.min-width(md) {
    order: 2;
    width: 13.5rem;
    transform: rotate(20deg);
  }
}
