@use "variables";
@use "mixins";

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-row-gap: calc(1rem + 5vw);
  grid-column-gap: calc(0.25rem + 5vw);
  grid-template-columns: repeat(3, 1fr);

  @include mixins.min-width(md) {
    width: 90%;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.greeting {
  grid-row: 1;
  grid-column: 1 / span 3;
  text-align: center;

  .text {
    transform: rotate(-10deg);
  }

  @include mixins.min-width(md) {
    grid-row: 1;
    grid-column: 1;
    text-align: right;

    .text {
      margin-top: 10rem;
      margin-right: -3rem;
      transform: rotate(-30deg);
    }
  }
}

.emblem {
  width: 75%;
  margin: 0 auto 0;

  grid-row: 2;
  grid-column: 1 / span 3;

  @include mixins.min-width(md) {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  text-align: center;
}

.content {
  grid-row: 4;
  grid-column: 1 / span 3;

  @include mixins.min-width(md) {
    grid-row: 2;
    grid-column: 3 / span 2;

    padding-top: 4rem;
    padding-left: 4rem;
  }
}

.content .button {
  margin: 2rem 0 0 0.5rem;
}

.founder1,
.founder2,
.founder3 {


  .image {
    border: 0.25rem solid variables.$color-primary;
  }
}

.founder1 {
  grid-row: 3;
  grid-column: 1;
  text-align: right;

  @include mixins.min-width(md) {
    grid-row: 1;
    grid-column: 4;

    .image {
      transform: translate(-25%, 75%);
    }
  }
}

.founder2 {
  grid-row: 3;
  grid-column: 2;
  text-align: center;

  @include mixins.min-width(md) {
    grid-row: 2;
    grid-column: 1;

    .image {
      transform: translateY(-35%);
    }
  }
}

.founder3 {
  grid-row: 3;
  grid-column: 3;
  text-align: left;

  @include mixins.min-width(md) {
    grid-row: 2;
    grid-column: 2;

    .image {
      transform: translateY(30%);
    }
  }
}
