@use "variables";
@use "mixins";

.container {
  position: relative;
}

.holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  padding: 2.5rem;
  text-align: center;
  position: absolute;
  flex-direction: column;
  color: variables.$color-white;

  @include mixins.min-width(md) {
    padding: 5rem;
  }
}

.logo .title,
.logo .subtitle {
  margin: 1rem 0 0;
}

.logo .subtitle {
  @include mixins.letter-spacing(270);
}

.slogan {
  margin: 10rem 0 0;
}

.image {
  z-index: 1;
  position: relative;
}

.video {
  z-index: 1;
  position: relative;
}
