@use "mixins";
@use "variables";

:global(.carousel-simple-bullets) {
  @include mixins.bullets();

  margin: 2rem 0 0;
}

:global {
  .carousel-simple-bullet {
    @include mixins.bullet();
  }

  .carousel-simple-bullet-active {
    @include mixins.bullet-active();
  }
}
