@use "variables";
@use "mixins";

.wrapper {
  text-align: center;

  @include mixins.min-width(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider {
  width: 100%;
  margin: 0 auto;

  @include mixins.min-width(lg) {
    order: 2;
    min-width: 0;
  }
}

.prev,
.next {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mixins.min-width(lg) {
    align-items: center;
    display: inline-flex;
  }
}

.prev {
  padding-right: 0.5rem;

  @include mixins.min-width(lg) {
    order: 1;
    padding-right: 2rem;
  }
}

.next {
  padding-left: 0.5rem;

  @include mixins.min-width(lg) {
    order: 3;
    padding-left: 2rem;
  }
}
