@use "mixins";
@use "variables";

.wrapper {
  overflow: hidden;
}

.slider {
  width: 750px;
  margin: 0 auto;
  max-width: 100%;
}

:global {
  .carousel-cards-bullets {
    @include mixins.bullets();
    margin: 3rem 0 0;
  }

  .carousel-cards-bullet {
    @include mixins.bullet();
  }

  .carousel-cards-bullet-active {
    @include mixins.bullet-active();
  }
}
