@use "mixins";

.grid {
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @include mixins.min-width(md) {
    text-align: unset;
    flex-wrap: nowrap;
  }
}

.left,
.right {
  margin: 0 auto;
  @include mixins.min-width(md) {
    width: 50%;
  }
}

.left .top,
.left .center,
.left .bottom {
  text-align: center;

  @include mixins.min-width(md) {
    text-align: right;
  }
}

.left .center {
  position: relative;
}

.left .banner {
  text-align: center;
  margin: 3rem 0 5rem;
  display: inline-block;

  @include mixins.min-width(md) {
    margin: 3rem 0 10rem;
    transform: translateX(-5rem);
  }
}

.left .center .icon {
  width: 5rem;
  transform: scaleX(-1) rotate(230deg);

  @include mixins.min-width(md) {
    width: 10rem;
    transform: scaleX(-1) rotate(210deg);
  }
}

.left .center .text {
  width: 12rem;
  transform: rotate(-10deg) translate(0rem, 2rem);

  @include mixins.min-width(md) {
    transform: rotate(-20deg) translate(-2rem, 2rem);
  }
}

.right {
  @include mixins.max-width(md) {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.right .top {
  @include mixins.max-width(md) {
    order: 3;
    grid-column: 3 / span 4;
  }

  @include mixins.min-width(md) {
    margin: 10rem 0 0;
  }
}

.right .center {
  @include mixins.max-width(md) {
    order: 1;
    margin: 0 0 1rem;
    grid-column: 1 / span 6;
  }

  @include mixins.min-width(md) {
    width: 75%;
    margin: 5rem 0;
  }
}
.right .center .title {
  margin: 0 0 1.5rem;
}

.right .bottom {
  @include mixins.max-width(md) {
    order: 2;
    grid-column: 1 / span 2;
  }
}

.right .image {
  @include mixins.max-width(md) {
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
