@use "mixins";

.container {
  display: flex;
  flex-direction: column;

  @include mixins.min-width(md) {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.image {
  margin: 0 0 2rem;

  @include mixins.min-width(md) {
    width: 50%;
  }
}

.fullscreen .image {
  left: 50%;
  right: 50%;
  width: 100vw;
  position: relative;
  margin: 0 -50vw 2rem;

  @include mixins.min-width(md) {
    width: 50vw;
  }
}

.left .image {
  @include mixins.min-width(md) {
    order: 1;
  }
}

.fullscreen.left .image {
  @include mixins.min-width(md) {
    right: auto;
    margin: 0 0 0 -50vw;
  }
}

.right .image {
  @include mixins.min-width(md) {
    order: 2;
  }
}

.fullscreen.right .image {
  @include mixins.min-width(md) {
    left: auto;
    margin: 0 -50vw 0 0;
  }
}

.content {
  @include mixins.min-width(md) {
    width: 50%;
    padding: 0 5rem;
    box-sizing: border-box;
  }
}

.left .content {
  @include mixins.min-width(md) {
    order: 2;
  }
}

.fullscreen.left .content {
  @include mixins.min-width(md) {
    margin: 0 0 0 50%;
  }
}

.right .content {
  @include mixins.min-width(md) {
    order: 1;
  }
}

.fullscreen.right .content {
  @include mixins.min-width(md) {
    margin: 0 50% 0 0;
  }
}
