@use "mixins";

.title {
  margin-left: auto;
  margin-right: auto;

  @include mixins.min-width(md) {
    width: 35rem;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;

  @include mixins.min-width(md) {
    width: 50rem;
  }
}
