@use "variables";
@use "mixins";

.wrapper {
  //position: relative;
  //
  //&:before,
  //&:after {
  //  top: 0;
  //  content: "";
  //  width: 1.25rem;
  //  height: 100%;
  //  position: absolute;
  //}
  //
  //&:before {
  //  left: 0;
  //  @include mixins.horizontal-gradient-bg(#fff, transparent);
  //}
  //&:after {
  //  right: 0;
  //  @include mixins.horizontal-gradient-bg(transparent, #fff);
  //}
}
.wrapper {
  gap: 1rem;
  display: flex;
  //overflow-x: auto;
  //white-space: nowrap;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  @include mixins.min-width(sm) {
    max-width: 40rem;
  }
}

.item {
  all: unset;
  gap: 0.5rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.item.active .icon {
  visibility: visible;
  transform: scale(1);
}

.item:hover,
.item.active {
  text-decoration: none;
  color: variables.$color-primary;
}

.item .icon {
  height: 1.5rem;
  visibility: hidden;
  transform: scale(0);
  transition: all variables.$transition-time variables.$transition-ease;
}
