@use "variables";
@use "mixins";

.wrapper {
  all: unset;

  gap: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  transition: all variables.$transition-time variables.$transition-ease;

  &:hover {
    text-decoration: none;
  }

  &.prev:hover {
    transform: translateX(-0.25rem);
  }

  &.next:hover {
    transform: translateX(0.25rem);
  }
}

.wrapper[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

.icon {
  width: 6rem;
}

.prev {
  text-align: right;
}

.next {
  text-align: left;
}

.prev .icon {
  transform: rotate(180deg);
}
