@use "variables";

.wrapper {
  width: 100%;
  border: none;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  aspect-ratio: 0.8; // 5:4
}

.iframe {
  top: 0;
  left: 0;
  border: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cookies {
  --stripes: 1rem;

  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent var(--stripes),
    #{variables.$color-lightgrey} var(--stripes),
    #{variables.$color-lightgrey} calc(2 * var(--stripes))
  );
}
