@use 'mixins';
@use 'variables';

.wrapper {
  overflow: hidden;
}

.button {
  all: unset;
  @include mixins.horizontal-gradient-border();

  width: 100%;
  display: flex;
  padding: 1rem 0;
  text-align: left;
  align-items: center;
  
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition: all variables.$transition-time variables.$transition-ease;
}

.button:hover,
.active .button {
  color: variables.$color-primary;
}
.active .icon {
  transform: rotate(0deg);
}

.label {
  flex: 1;
}

.icon {
  width: 1.5rem;
  padding: 1rem;
  transform: rotate(-90deg);
  transform-origin: center center;
  transition: all variables.$transition-time variables.$transition-ease;
}

.content {
  padding: 2rem 0;
}
