@use "variables";

.wrapper {
  gap: 0.5rem;
  display: flex;
  position: relative;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
  position: absolute;
}

.checkmark {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  border: 1px solid variables.$color-black;
}

.checkmark:before {
  content: "";
  width: 0.25rem;
  height: 0.5rem;
  display: block;
  visibility: hidden;
  transform: rotate(45deg);
  border-right: 0.15rem solid variables.$color-black;
  border-bottom: 0.15rem solid variables.$color-black;
}

input:checked + .checkmark:before {
  visibility: visible;
}
