/** hide placeholder when no value */
.input[data-value=""] {
  color: transparent;
}

/** show placeholder when active */
.input:focus-within {
  color: inherit;
}

/** hide dd.mm.yyyy placeholder */
.input::before {
  content: "";
}
