@use "variables";

.wrapper {
  padding: 0;
  width: 100%;
  border: none;
  font-size: 1rem;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  background: transparent;
  height: variables.$field-height;
  border-bottom: 1px solid variables.$color-black;
  font-family: map-get(variables.$font-families, f2);
}

.wrapper:focus {
  outline: none;
}
