@use "variables";

.arrow {
  top: 0;
  height: 100%;
  display: flex;
  right: 0.25rem;
  position: absolute;
  align-items: center;
  pointer-events: none;
}

.arrow:after {
  content: "\25BE";
}

.wrapper {
  padding: 0;
  width: 100%;
  border: none;
  font-size: 1rem;
  appearance: none;
  border-radius: 0;
  padding-right: 1.25rem;
  box-sizing: border-box;
  background: transparent;
  height: variables.$field-height;
  border-bottom: 1px solid variables.$color-black;
  font-family: map-get(variables.$font-families, f2);
}

.wrapper:focus {
  outline: none;
}
