@use "variables";

.wrapper {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  appearance: none;
  border-radius: 0;
  min-height: 18.75rem;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid variables.$color-black;
  font-family: map-get(variables.$font-families, f2);
}

.wrapper:focus {
  outline: none;
}
