@use "variables";
@use "mixins";

.wrapper {
  text-align: center;
  color: variables.$color-black;
}

.button {
  padding: 1.5rem 0;
}

:global {
  .carousel-reviews-bullets {
    @include mixins.bullets();
    margin: 1rem 0 0;
  }

  .carousel-reviews-locked {
    @include mixins.bullets-locked();
  }

  .carousel-reviews-bullet {
    @include mixins.bullet(variables.$color-white);
  }

  .carousel-reviews-bullet-active {
    @include mixins.bullet-active();
  }
}
