@use "variables";
@use "mixins";

.menu {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  all: unset;

  gap: 0.5rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.category.active .icon {
  visibility: visible;
  transform: scale(1);
}

.category:hover,
.category.active {
  text-decoration: none;
  color: variables.$color-primary;
}

.category .icon {
  height: 1.5rem;
  visibility: hidden;
  transform: scale(0);
  transition: all variables.$transition-time variables.$transition-ease;
}

.scroller {
  @include mixins.scroll-margin();
}

.slide {
  @include mixins.scroll-margin();

  z-index: -1;
  position: relative;
  transform: scale(0.8);
  filter: blur(0.1rem) opacity(0.5);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  @include mixins.min-width(md) {
    transform: scale(0.85);
  }

  @include mixins.min-width(lg) {
    transform: scale(0.9);
  }
}

.slide.active {
  z-index: 1;
  filter: opacity(1);
  transform: scale(1);
}

.slide .header,
.slide .footer {
  margin: 0 auto;
  padding: 0 3vw;
  max-width: 25rem;
}

.slide .image {
  margin: 2rem 0;
}

.slide .header .title {
  margin: 0 0 1rem;
}

.slide .header .text {
  margin: 0 0 1rem;
}

.slide .header .price {
  margin: 0 0 2rem;
}

.slide .header .buttons {
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.slide .footer .title {
  margin: 0 0 1rem;
}

.slide .footer .services {
  margin-left: 0;
  list-style: none;
  padding-left: 1rem;
}

.slide .footer .service:before {
  width: 1rem;
  content: "-";
  margin-left: -1rem;
  display: inline-block;
}

.arrows {
  margin: 5rem 0 0;
}

.arrows .prev {
  padding-right: 0.5rem;
}

.arrows .next {
  padding-left: 0.5rem;
}
