@use "mixins";

.container {
  width: 37.5rem;
  max-width: 100%;

  @include mixins.min-width(md) {
    margin: 0 auto;
  }
}

.title {
  margin: 0 0 2rem;
}

.image {
  order: 2;
}

.lines {
  margin: 2rem 0 0;

  .line:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.button {
  margin: 2rem 0 0 0.5rem;
}
