@font-face {
    font-family: 'TisaPro';
    src: url('./fonts/TisaPro.woff2') format('woff2'),
        url('./fonts/TisaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TisaPro';
    src: url('./fonts/TisaPro-Medi.woff2') format('woff2'),
        url('./fonts/TisaPro-Medi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TisaPro';
    src: url('./fonts/TisaPro-Bold.woff2') format('woff2'),
        url('./fonts/TisaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rehn';
    src: url('./fonts/Rehn-Regular.woff2') format('woff2'),
        url('./fonts/Rehn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rehn';
    src: url('./fonts/Rehn-Bold.woff2') format('woff2'),
        url('./fonts/Rehn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlackJack';
    src: url('./fonts/BlackJackRegular.woff2') format('woff2'),
        url('./fonts/BlackJackRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}