@use "variables";
@use "mixins";

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}
body {
  word-break: break-word;
  overflow-wrap: break-word;

  color: variables.$color-black;

  @include mixins.font-size(s3);
  font-weight: map-get(variables.$font-weights, w4);
  font-family: map-get(variables.$font-families, f1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: variables.$color-white;
  background: variables.$color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get(variables.$font-weights, w7);
  font-family: map-get(variables.$font-families, f1);

  &[id] {
    @include mixins.scroll-margin();
  }
}

h1 {
  margin: 3rem 0;
  @include mixins.font-size(s6);
}

h2 {
  margin: 2.5rem 0;
  @include mixins.font-size(s5);
}

h3 {
  margin: 2rem 0;
  @include mixins.font-size(s4);
}

h4 {
  margin: 1.5rem 0;
  @include mixins.font-size(s3);
}

h5 {
  margin: 1.25rem 0;
  @include mixins.font-size(s3);
}

h6 {
  margin: 1rem 0;
  @include mixins.font-size(s3);
}

a {
  transition: color variables.$transition-time variables.$transition-ease;
}

a {
  text-decoration: none;
  color: variables.$color-primary;
}

a:hover {
  text-decoration: underline;
  color: variables.$color-primary;
}

p {
  margin: 0 0 1rem;
}

p:last-child {
  margin: 0;
}

svg {
  width: auto;
  height: auto;
  fill: currentColor;
}

img {
  max-width: 100%;
}

ol,
ul {
  margin: 1rem 0;
}

li {
  margin: 0 0 0.5rem;
}

address {
  font-style: normal;
}

table {
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  border: 1px solid variables.$color-grey;
}

table tbody tr:nth-of-type(odd) {
  background: variables.$color-lightgrey;
}

table caption {
  padding: 0.5rem;
}
table th,
table td {
  padding: 0.5rem;
  border: 1px solid variables.$color-grey;
}
