@use "sass:math";
@use "sass:color";
@use "variables";

@function strip-units($number) {
  @return math.div($number, $number * 0 + 1);
}

@mixin min-width($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    $min-width: map-get(variables.$breakpoints, $breakpoint);

    @media only screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{variables.$breakpoint}.';
  }
}

@mixin max-width($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    $max-width: map-get(variables.$breakpoints, $breakpoint);

    @media only screen and (max-width: $max-width) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{variables.$breakpoint}.';
  }
}

@mixin font-size($size, $scale: 0.8, $treshold: map-get(variables.$breakpoints, sm)) {
  $letter-spacing: map-get(variables.$letter-spacings, $size);
  $line-height: map-get(variables.$line-heights, $size);
  $font-size: map-get(variables.$font-sizes, $size);

  $min: $font-size * $scale;
  $max: $font-size;

  line-height: $line-height;
  font-size: clamp(#{$min}, #{math.div($min, $treshold) * 100}vw, #{$max});
  @include letter-spacing($letter-spacing);
}

@mixin letter-spacing($value) {
  letter-spacing: #{math.div($value, 1000) * 1}rem;
}

@mixin truncate() {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin hyphenate() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@mixin invisible() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin visible() {
  clip: auto;
  width: auto;
  height: auto;
  margin: auto;
  position: static;
  overflow: visible;
}

@mixin horizontal-gradient-bg($gradients...) {
  @if length($gradients) == 0 {
    background: linear-gradient(
      90deg,
      variables.$color-grey 0%,
      // variables.$color-darkgrey 50%,
      variables.$color-lightgrey
        100%
    );
  } @else {
    background: linear-gradient(90deg, $gradients...);
  }
}

@mixin horizontal-gradient-border($gradients...) {
  @if length($gradients) == 0 {
    border-image: linear-gradient(
        90deg,
        variables.$color-grey 0%,
        // variables.$color-darkgrey 50%,
        variables.$color-lightgrey
          100%
      )
      1;
  } @else {
    border-image: linear-gradient(90deg, $gradients...) 1;
  }
}

@mixin scrollbar($color: variables.$color-black, $height: 0.5rem) {
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: currentColor transparent;

  // Webkit
  &::-webkit-scrollbar {
    height: $height;
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: color.adjust($color, $alpha: -0.75);
    transition: all variables.$transition-time variables.$transition-ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust($color, $alpha: -0.5);
  }
  &::-webkit-scrollbar-track {
    background-color: color.adjust($color, $alpha: -0.9);
  }
}

@mixin container($min: null, $max: null) {
  $min: map-get(variables.$breakpoints, $min);
  $max: map-get(variables.$breakpoints, $max);

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @if ($min == null) {
    padding-left: map-get(variables.$container-paddings, default);
    padding-right: map-get(variables.$container-paddings, default);
  }

  $xs: map-get(variables.$breakpoints, xs);
  @if (($min == null or $xs >= $min) and ($max == null or $xs < $max)) {
    @include min-width(xs) {
      padding-left: map-get(variables.$container-paddings, xs);
      padding-right: map-get(variables.$container-paddings, xs);
    }
  } @else {
    @include min-width(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  $sm: map-get(variables.$breakpoints, sm);
  @if (($min == null or $sm >= $min) and ($max == null or $sm < $max)) {
    @include min-width(sm) {
      padding-left: map-get(variables.$container-paddings, sm);
      padding-right: map-get(variables.$container-paddings, sm);
    }
  } @else {
    @include min-width(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  $md: map-get(variables.$breakpoints, md);
  @if (($min == null or $md >= $min) and ($max == null or $md < $max)) {
    @include min-width(md) {
      padding-left: map-get(variables.$container-paddings, md);
      padding-right: map-get(variables.$container-paddings, md);
    }
  } @else {
    @include min-width(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  $lg: map-get(variables.$breakpoints, lg);
  @if (($min == null or $lg >= $min) and ($max == null or $lg < $max)) {
    @include min-width(lg) {
      max-width: map-get(variables.$breakpoints, lg);
      padding-left: map-get(variables.$container-paddings, lg);
      padding-right: map-get(variables.$container-paddings, lg);
    }
  } @else {
    @include min-width(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
