@use "sass:math";

/**
 * COLORS
 */
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #82c17a;
$color-secondary: #ece8e1;
$color-tertiary: null;

$color-warning: #ffdd57;
$color-success: #23d160;
$color-error: #ff3860;

$color-grey: #e6e6e7;
$color-darkgrey: #807f80;
$color-lightgrey: #fafafa;

/**
 * BREAKPOINTS
 */
$breakpoints: (
  xxs: 15rem,
  xs: 30rem,
  sm: 48rem,
  md: 64rem,
  lg: 75rem,
  xl: 90rem,
  xxl: 120rem,
);

/**
 * TYPOGRAPHY
 */
$font-sizes: (
  s1: 0.75rem,
  // 12px
  s2: 0.875rem,
  // 14px
  s3: 1rem,
  // 16x
  s4: 1.125rem,
  // 18px
  s5: 1.5rem,
  // 24px
  s6: 1.875rem,
  // 30px
  s7: 2.875rem,
  // 46px
  s8: 4rem,
  // 64px
  s9: 5.25rem,
  // 84px
  s10: 9.875rem,
  // 158px
);

$line-heights: (
  s1: 1.2,
  s2: 1.2,
  s3: 1.2,
  s4: 1.2,
  s5: 1.2,
  s6: 1.2,
  s7: 1.05,
  s8: 1.05,
  s9: 1.05,
  s10: 1.05,
);

$letter-spacings: (
  s1: 120,
  s2: 120,
  s3: 0,
  s4: 90,
  s5: 30,
  s6: 0,
  s7: 0,
  s8: -30,
  s9: 0,
  s10: -30,
);

$font-families: (
  f1: (
    "TisaPro",
    Georgia,
    serif,
  ),
  f2: (
    "Rehn",
    Helvetica,
    sans-serif,
  ),
  f3: (
    "BlackJack",
    cursive,
  ),
);

$font-weights: (
  w1: 100,
  w2: 200,
  w3: 300,
  w4: 400,
  w5: 500,
  w6: 600,
  w7: 700,
);

/**
 * LAYOUT
 */
$container-paddings: (
  default: 1.25rem,
  xs: 2.5rem,
  sm: 3rem,
  md: 4rem,
  lg: 5rem,
);

$navbar-height-sm: 4rem;
$navbar-height-md: 5rem;

/**
 * BORDER
 */
$border-radius: 0;

/**
 * FORM
 */
$field-height: 1.75rem;

/**
 * TRANSITION
 */
$transition-time: 0.3s;
$transition-ease: ease;

/**
 * EXPORTS
 *
 * - https://til.hashrocket.com/posts/sxbrscjuqu-share-scss-variables-with-javascript
 * - https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
 * - https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
 */
:export {
  breakpoint_xxs: map-get($breakpoints, xxs);
  breakpoint_xs: map-get($breakpoints, xs);
  breakpoint_sm: map-get($breakpoints, sm);
  breakpoint_md: map-get($breakpoints, md);
  breakpoint_lg: map-get($breakpoints, lg);
  breakpoint_xl: map-get($breakpoints, xl);
  breakpoint_xxl: map-get($breakpoints, xxl);
  color_primary: $color-primary;
  color_secondary: $color-secondary;
  color_tertiary: $color-tertiary;
}
