@use "variables";
@use "mixins";

.slider {
  text-align: center;

  @include mixins.container($max: md);
  @include mixins.min-width(md) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.slide {
  cursor: pointer;
}

.holder {
  all: unset;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.holder:hover {
  all: unset;

  .image {
    background-size: 1.5rem 1.5rem;
  }
}

.image {
  $size: 0.25rem;
  $color: variables.$color-primary;

  background: linear-gradient(to right, $color $size, transparent $size) 0 0,
    linear-gradient(to bottom, $color $size, transparent $size) 0 0,
    linear-gradient(to left, $color $size, transparent $size) 100% 0,
    linear-gradient(to bottom, $color $size, transparent $size) 100% 0,
    linear-gradient(to left, $color $size, transparent $size) 100% 100%,
    linear-gradient(to top, $color $size, transparent $size) 100% 100%,
    linear-gradient(to right, $color $size, transparent $size) 0 100%,
    linear-gradient(to top, $color $size, transparent $size) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0;

  transition: background-size variables.$transition-time variables.$transition-ease;
}

.img {
  margin: 0.25rem;
}

.body {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.title,
.text,
.price {
  margin: 1rem 0 0;
}

.text {
  flex: 1;
}

:global {
  .carousel-offers-bullets {
    @include mixins.bullets();
    margin: 5rem 0 0;
  }

  .carousel-offers-locked {
    @include mixins.bullets-locked();
  }

  .carousel-offers-bullet {
    @include mixins.bullet();
  }

  .carousel-offers-bullet-active {
    @include mixins.bullet-active();
  }
}
