@use "variables";
@use "mixins";

.buttons {
  display: flex;
  margin: 5rem 0 2rem;
  justify-content: space-between;
}

.prev,
.next {
  padding: 1rem 0;

  &.locked {
    display: none;
  }
}

.slider {
  padding-top: 2rem;
  text-align: center;

  @include mixins.container($max: md);
  @include mixins.min-width(md) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.slide {
  cursor: pointer;
}

.holder {
  all: unset;

  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.holder:hover {
  color: inherit;
  text-decoration: none;

  .img {
    transform: scale(1.05);
  }
}

.image {
  overflow: hidden;
  border: 0.25rem solid variables.$color-primary;
}

.img {
  display: block;
  transform: translateZ(0);
  transition: all variables.$transition-time variables.$transition-ease;
}

.body {
  padding: 0 1rem;
}

.title {
  margin: 1rem 0 0;
}

.icon {
  left: 50%;
  top: -2rem;
  width: 4rem;
  position: absolute;
  transform: translateX(-50%);

  @include mixins.min-width(xs) {
    left: auto;
    right: -2rem;
    transform: rotate(20deg);
  }
}

:global {
  .carousel-activities-bullets {
    @include mixins.bullets();
    margin: 5rem 0 0;
  }

  .carousel-activities-locked {
    @include mixins.bullets-locked();
  }

  .carousel-activities-bullet {
    @include mixins.bullet();
  }

  .carousel-activities-bullet-active {
    @include mixins.bullet-active();
  }
}
