@use "variables";

$width: 0.125rem;
$color: variables.$color-white;

.wrapper {
  position: relative;

  &:after {
    top: 50%;
    z-index: 4;
    content: "";
    left: var(--value);
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    background: $color;
    border-radius: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
}

.back {
  z-index: 1;
  position: relative;
}

.front {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: inset(0 calc(100% - var(--value)) 0 0);
}

.slider {
  appearance: none;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  position: absolute;
  background: transparent;

  &::-webkit-slider-runnable-track {
    all: unset;
    appearance: none;

    width: 100%;
    height: 100%;
    display: flex;
  }

  &::-webkit-slider-thumb {
    all: unset;
    appearance: none;

    height: 100%;
    width: $width;
    cursor: col-resize;
    background: $color;
    transition: all variables.$transition-time variables.$transition-ease;

    &:hover {
      transform: scaleX(1.5);
    }
  }

  &::-moz-range-thumb {
    all: unset;
    appearance: none;

    height: 100%;
    width: $width;
    cursor: col-resize;
    background: $color;
    transition: all variables.$transition-time variables.$transition-ease;

    &:hover {
      transform: scaleX(1.5);
    }
  }

  &::-moz-range-track {
    appearance: none;
  }

  &::-ms-track {
    appearance: none;
  }

  &::-ms-thumb {
    all: unset;
    appearance: none;

    height: 100%;
    width: $width;
    cursor: col-resize;
    background: $color;
    transition: all variables.$transition-time variables.$transition-ease;

    &:hover {
      transform: scaleX(1.5);
    }
  }
}
