@use "mixins";

.title {
  margin: 0 0 1rem;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item:not(:last-child) {
  margin: 0 0 1rem;

  @include mixins.min-width(sm) {
    margin: 0;
  }
}

.label {
  display: block;

  @include mixins.min-width(sm) {
    display: inline;
  }
}

.label:after {
  content: ":";
}

.value {
  padding: 0 0 0 0.25rem;
}
