@use "variables";
@use "mixins";

$small-gap: 2.5rem;
$large-gap-column: 5rem;
$large-gap-row: 2.5rem;

.grid {
  gap: $small-gap;
  display: flex;
  flex-wrap: wrap;

  @include mixins.min-width(md) {
    gap: $large-gap-column;
  }
}

.left,
.right {
  gap: $small-gap;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mixins.min-width(md) {
    display: flex;
    flex-direction: column;
    width: calc(50% - #{$large-gap-row});
  }
}

.right {
  @include mixins.min-width(md) {
    text-align: left;
    padding-top: 10rem;
  }
}

.left {
  @include mixins.min-width(md) {
    text-align: right;
  }
}
