@use "variables";
@use "mixins";

.wrapper {
  gap: 3rem;
  display: flex;
  min-height: 5rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.badge {
  @include mixins.min-width(sm) {
    top: 0;
    right: 0;
    position: absolute;
    transform: rotate(20deg);
    backface-visibility: hidden;
  }
}

.icon {
  height: 5rem;
}
