@use "variables";
@use "mixins";

$offset: 0.25rem;

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  box-sizing: border-box;
  color: variables.$color-black;

  @include mixins.min-width(xs) {
    padding: 0 1rem;
  }

  @include mixins.min-width(md) {
    height: initial;
    padding: 1rem;
    display: block;
    position: relative;
    text-align: center;
    background: variables.$color-primary;
    transform: translate3d(0, 0, 0);
    transition: transform variables.$transition-time variables.$transition-ease;
  }
}

.wrapper:after {
  @include mixins.min-width(md) {
    top: 0;
    right: -$offset;
    width: $offset;
    height: 100%;
    content: "";
    position: absolute;
    background-color: variables.$color-primary;
  }
}

.wrapper:hover {
  text-decoration: none;

  @include mixins.min-width(md) {
    color: variables.$color-white;
    transform: translate3d(-#{$offset * 0.8}, 0, 0);
  }
}

.text .small {
  @include mixins.min-width(md) {
    display: none;
  }
}

.text .large {
  display: none;
  @include mixins.min-width(md) {
    display: inline-block;
  }
}
