@use "variables";
@use "mixins";

.wrapper {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 0.75rem;
  box-sizing: border-box;
  color: variables.$color-black;

  @include mixins.min-width(xs) {
    padding: 0 1rem;
  }

  @include mixins.min-width(md) {
    gap: 0.5rem;
    height: auto;
    padding: 1rem;
    max-width: 10rem;
  }

  @include mixins.min-width(xl) {
    flex-direction: column;
  }
}

.wrapper:hover,
.wrapper.active {
  text-decoration: none;
  color: variables.$color-primary;
}

.text .small {
  @include mixins.min-width(md) {
    display: none;
  }
}

.text .large {
  display: none;
  @include mixins.min-width(md) {
    display: inline-block;
  }
}

.icon {
  display: none;

  @include mixins.min-width(md) {
    display: block;
    height: 1.25rem;
  }
}
