@use "variables";
@use "mixins";

$box-width: 2rem;
$box-height: 1.625rem;
$line-size: 0.1875rem;

.wrapper {
  all: unset;

  width: $box-width;
  height: $box-height;

  display: block;
  cursor: pointer;
  position: relative;
}

.lines {
  background-color: variables.$color-darkgrey;
  transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.lines,
.lines:after,
.lines:before {
  display: block;
  width: $box-width;
  height: $line-size;
  position: absolute;
}

.lines:before,
.lines:after {
  content: "";
  background-color: inherit;
}

.lines:before {
  top: -0.5 * $box-height + $line-size;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.lines:after {
  bottom: -0.5 * $box-height + $line-size;
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.active .lines {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .lines:before {
  top: 0;
  opacity: 0;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
}

.active .lines:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
