@use "variables";
@use "mixins";

.wrapper {
  display: block;
  transform: translateY(-15%);
  transition: transform variables.$transition-time variables.$transition-ease;
}

.animate:hover {
  transform: translateY(-10%);
  @include mixins.min-width(md) {
    transform: translateY(-5%);
  }
}

.icon {
  height: 3.5rem;
  color: variables.$color-primary;

  @include mixins.min-width(md) {
    height: 4rem;
  }
}


