@use "mixins";
@use "variables";

.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 499;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  background-color: variables.$color-white;

  @include mixins.min-width(lg) {
    padding: 0 2rem;
  }
}

.wrapper:after {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 1px;
  content: "";
  position: absolute;
  background-color: variables.$color-grey;
}

.container {
  position: relative;
}

.items {
  gap: 1rem;
  display: flex;
  height: variables.$navbar-height-sm;
  align-items: center;
  justify-content: space-between;

  @include mixins.min-width(lg) {
    height: variables.$navbar-height-md;
    align-items: stretch;
  }
}

.items .actions {
  height: 100%;
  display: flex;

  @include mixins.min-width(lg) {
    position: fixed;
  }
}

.items .contact,
.items .booking {
  display: flex;
  align-items: center;

  @include mixins.min-width(md) {
    top: calc(50% + #{variables.$navbar-height-md} * 0.5);
    height: auto;
    display: block;
    position: fixed;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: translateY(-50%);
  }

  @include mixins.min-width(xl) {
    white-space: unset;
    writing-mode: unset;
  }
}

.items .contact {
  @include mixins.min-width(md) {
    left: 0;
  }
}

.items .booking {
  border-right: 1px solid variables.$color-grey;

  @include mixins.min-width(md) {
    right: 0;
  }
}

.items .left,
.items .right {
  display: none;

  @include mixins.min-width(lg) {
    gap: 1.25rem;
    display: flex;
    flex-basis: 45%;
  }
}

.items .logo .small {
  @include mixins.min-width(md) {
    display: none;
  }
}

.items .logo .large {
  display: none;

  @include mixins.min-width(lg) {
    display: block;
  }
}

.items .left {
  justify-content: flex-end;
}

.items .right {
  justify-content: flex-start;
}

.items .toggle {
  @include mixins.min-width(lg) {
    display: none;
  }
}

.item {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  color: variables.$color-black;
}

.item:after {
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  content: "";
  position: absolute;
  background-color: variables.$color-grey;
  transition: height variables.$transition-time variables.$transition-ease;
}

.item.active {
  color: variables.$color-primary;
}

.item.active:after {
  height: 0.2rem;
}

.item:hover {
  text-decoration: none;
}

.languages {
  display: none;

  @include mixins.min-width(lg) {
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
  }
}

.language {
  height: 100%;
  display: flex;
  align-items: center;
  color: variables.$color-black;
}

.language:hover {
  text-decoration: none;
}

.language.active {
  font-weight: map-get(variables.$font-weights, w7);
}

.overlay {
  top: variables.$navbar-height-sm;
  left: 0;
  right: 0;
  height: 0;
  z-index: 500;
  position: fixed;
  overflow: hidden;
  background-color: variables.$color-white;
  transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  @include mixins.min-width(lg) {
    display: none;
  }
}

.open .overlay {
  height: calc(100% - variables.$navbar-height-sm);
}

.icon {
  display: none;

  @include mixins.min-width(xl) {
    $margin: 2rem;
    right: $margin;
    display: block;
    position: fixed;
    top: calc(variables.$navbar-height-md + $margin);
  }
}

.icon .svg {
  width: 7rem;
}
