@use "variables";

.wrapper {
  height: 100%;
  overflow: auto;
  padding: 2rem 0;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  margin: 1rem 0;
}

.languages {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid variables.$color-grey;
  border-bottom: 1px solid variables.$color-grey;
}

.item,
.language {
  color: variables.$color-black;
}

.item:hover,
.language:hover {
  text-decoration: none;
}

.item {
  display: block;
  padding: 0.5rem 0;
}

.active {
  color: variables.$color-primary;
}
