.items {
  gap: 3rem;
  width: 50rem;
  display: grid;
  max-width: 100%;
  margin: 3rem auto;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

.item {
  display: flex;
  flex-direction: column;
}

.item .image {
  flex: 1;
  display: flex;
  align-items: center;
}

.item .label {
  margin: 0.5rem 0 0;
}
