@use "mixins";

.container {
  position: relative;
}

.title {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include mixins.min-width(md) {
    width: 40rem;
  }
}

.banner {
  margin: 5rem 0 0;

  @include mixins.min-width(md) {
    margin: 0;
    left: -9rem;
    bottom: -4.5rem;
    position: absolute;
  }
}

.banner .icon {
  width: 5rem;
  transform: scaleX(-1) rotate(230deg);

  @include mixins.min-width(md) {
    width: 10rem;
    transform: scaleX(-1) rotate(210deg);
  }
}

.banner .text {
  width: 7.5rem;
  margin: 0 auto;
  transform: rotate(-10deg) translate(0rem, 2rem);

  @include mixins.min-width(md) {
    width: 10rem;
    transform: rotate(-20deg) translate(-2rem, 2rem);
  }
}
