@use "mixins";
@use "variables";

.items {
  gap: 1px;
  display: grid;
  margin: 0 0 3rem;
  background-color: variables.$color-grey;

  @include mixins.min-width(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  padding: 2rem;
  background-color: variables.$color-white;
}
