@use "variables";
@use "mixins";

.menu {
  text-align: center;
  margin: 0 auto 7.5rem;

  @include mixins.min-width(sm) {
    width: 75%;
  }
}

.menu .item {
  all: unset;

  gap: 0.1rem;
  display: flex;
  cursor: pointer;
  padding: 2rem 0;
  position: relative;
  flex-direction: column;
  transition: all variables.$transition-time variables.$transition-ease;
}

.menu .item:hover {
  background: variables.$color-lightgrey;
}

.menu .item:not(:last-child) {
  border-bottom: 1px solid variables.$color-grey;
}

/*
.menu .icon {
  top: 50%;
  right: 0;
  width: 4rem;
  position: absolute;
  transform: rotate(90deg) translate(0, -50%);
}
*/

.info {
  gap: 6rem;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;

  @include mixins.min-width(sm) {
    width: 75%;
  }

  @include mixins.min-width(md) {
    width: auto;
    text-align: unset;
  }
}

.info .item {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 3rem;
  grid-template-columns: 1fr;

  @include mixins.scroll-margin();

  .title {
    order: 1;
    margin: 0;

    @include mixins.min-width(md) {
      margin: 0 0 2rem;
    }
  }

  .images {
    order: 2;
    overflow: hidden;
  }

  .content {
    order: 3;
  }

  .lines {
    margin: 2rem 0 0;

    .line:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .button {
    margin: 2rem 0 0 0.5rem;
  }

  @include mixins.min-width(md) {
    row-gap: 0;
  }
}

.info .item:nth-child(odd) {
  @include mixins.min-width(md) {
    grid-template-columns: 3rem 1fr 50%;

    .title {
      order: 1;
      grid-column: 2 / span 2;
    }

    .images {
      order: 3;
      grid-column: 3 / 3;
    }

    .content {
      order: 2;
      grid-column: 2 / 2;
    }
  }
}

.info .item:nth-child(even) {
  @include mixins.min-width(md) {
    grid-template-columns: 50% 1fr;

    .title {
      grid-column: 2 / 2;
    }
  }
}
