@use "mixins";
@use "variables";

.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  // prevents <body> scrolling without
  // requiring "overflow: hidden" hack
  overscroll-behavior-y: contain;
}

.scroller {
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.container {
  flex: 1;
  margin: auto;
  padding: 5rem 0;
}

.content {
  --width: #{map-get(variables.$breakpoints, lg)};
  --space: #{map-get(variables.$container-paddings, default)};

  position: relative;
  margin: 0 var(--space);
  background-color: variables.$color-white;

  @include mixins.min-width(xs) {
    --space: #{map-get(variables.$container-paddings, xs)};
  }

  @include mixins.min-width(sm) {
    --space: #{map-get(variables.$container-paddings, sm)};
  }

  @include mixins.min-width(md) {
    --space: #{map-get(variables.$container-paddings, md)};
  }

  @include mixins.min-width(lg) {
    --space: #{map-get(variables.$container-paddings, lg)};

    margin: 0 auto;
    max-width: calc(var(--width) - 2 * var(--space));
  }
}

.close {
  top: 0;
  right: 0;
  position: absolute;
}

.button {
  all: unset;
  padding: 1.5rem;
  cursor: pointer;
  color: variables.$color-darkgrey;
  transition: color variables.$transition-time variables.$transition-ease;

  &:hover {
    color: variables.$color-black;
  }
}

.svg {
  width: 1.25rem;
  height: 1.25rem;
}
