@use "variables";

.wrapper {
  all: unset;

  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  color: variables.$color-primary;
}

.wrapper[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.wrapper:hover {
  text-decoration: none;

  &:not(.theme_flat) {
    .text {
      animation-name: text;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  .icons {
    animation-name: icons;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  .separator {
    transform: scaleX(0);
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);

    &:first-child {
      animation-name: separatorLeft;
    }
    &:last-child {
      animation-name: separatorRight;
    }
  }
}

.text {
  opacity: 1;
  display: inline-block;
  transform: translateY(0);
}

.icons {
  width: 100%;
  gap: 0.3rem;
  display: flex;
  padding: 0.5rem 0 0;
  transform: scaleX(1);
  align-items: center;
  justify-content: center;
}

.stars {
  gap: 0.2rem;
  display: flex;
  align-items: center;
}

.separator {
  width: 0.8rem;
  transform: scaleX(1);
}

.separator:first-child {
  transform: scaleX(1) rotate(180deg);
}

.star {
  height: 0.6rem;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.arrows {
  display: flex;
  align-items: center;
  padding: 0.25rem 0 0;
}

.arrow {
  height: 0.4rem;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.theme_flat {
  padding: 1rem;
  color: variables.$color-black;
  border: 1px solid variables.$color-black;
  transition: color, background variables.$transition-time variables.$transition-ease;

  &:hover {
    color: variables.$color-white;
    background: variables.$color-black;
  }
}

.theme_arrow_back {
  &,
  &:hover {
    color: variables.$color-black;
  }

  .text {
    order: 2;
  }
  .icons {
    order: 1;
    padding: 0 0 0.5rem;
  }
  .arrows {
    padding: 0 0 0.25rem;
  }

  .arrow {
    transform: rotate(180deg);
  }
}

@keyframes text {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes icons {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes separatorLeft {
  from {
    transform: rotate(180deg) scaleX(0);
  }
  to {
    transform: rotate(180deg) scaleX(1);
  }
}

@keyframes separatorRight {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
