@use "variables";
@use "mixins";

.wrapper {
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.black {
  color: variables.$color-black;
}

.white {
  color: variables.$color-white;
}

.grey {
  color: variables.$color-grey;
}

.primary {
  color: variables.$color-primary;
}

.secondary {
  color: variables.$color-secondary;
}

.error {
  color: variables.$color-error;
}

.s1 {
  @include mixins.font-size(s1, 1);
}
.s2 {
  @include mixins.font-size(s2, 1);
}
.s3 {
  @include mixins.font-size(s3, 1);
}
.s4 {
  @include mixins.font-size(s4, 1);
}
.s5 {
  @include mixins.font-size(s5, 0.75);
}
.s6 {
  @include mixins.font-size(s6, 0.7);
}
.s7 {
  @include mixins.font-size(s7, 0.65);
}
.s8 {
  @include mixins.font-size(s8, 0.6);
}
.s9 {
  @include mixins.font-size(s9, 0.55);
}
.s10 {
  @include mixins.font-size(s10, 0.5);
}

.w1 {
  font-weight: map-get(variables.$font-weights, w1);
}

.w2 {
  font-weight: map-get(variables.$font-weights, w2);
}

.w3 {
  font-weight: map-get(variables.$font-weights, w3);
}

.w4 {
  font-weight: map-get(variables.$font-weights, w4);
}

.w5 {
  font-weight: map-get(variables.$font-weights, w5);
}

.w6 {
  font-weight: map-get(variables.$font-weights, w6);
}

.w7 {
  font-weight: map-get(variables.$font-weights, w7);
}

.f1 {
  font-family: map-get(variables.$font-families, f1);
}

.f2 {
  font-family: map-get(variables.$font-families, f2);
}

.f3 {
  font-family: map-get(variables.$font-families, f3);
}
