@use "../variables";

@mixin bullets {
  all: unset;
  display: flex;
  justify-content: center;
}

@mixin bullets-locked {
  display: none;
}

@mixin bullet($color: variables.$color-primary) {
  all: unset;
  opacity: 0.75;
  cursor: pointer;
  padding: 0.4rem;
  transition: all variables.$transition-time variables.$transition-ease;

  &:after {
    content: "";
    display: flex;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    vertical-align: middle;
    background-color: $color;
  }

  &:hover {
    opacity: 1;
  }
}

@mixin bullet-active {
  opacity: 1;
  transform: scale(1.5);
}
