@use "~@gh/shared/scss/_mixins.module.scss" as mixins;
@use "../variables";

@mixin scroll-margin {
  scroll-margin-top: calc(variables.$navbar-height-sm + 2rem);

  @include mixins.min-width(md) {
    scroll-margin-top: calc(variables.$navbar-height-md + 2rem);
  }
}
